name: Release new docset

on:
  workflow_run:
    workflows:
      - "Push new tag"
    types:
      - completed
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: build
        run: ./build-docset.sh
        env:
          RELEASE_VERSION: ${{ github.ref_name }}
      # Extract tag, required for `on.workflow_run`.
      - name: Get latest tag
        id: get-latest-tag
        run: git tag | tail -n 1 | { read tag; echo "tag-name=tag" } >> $GITHUB_OUTPUT
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.get-latest-tag.outputs.tag-name }}
          files: |
            Snowflake.docset.tgz
            Snowflake.xml
